<div class="cards">
  <% @adds.each do |add| %>
    <div class="card">
      <%= link_to add_path(add), rel: "noopener noreferrer nofollow", target: "listing_#{add.id}", aria_labelledby: "title_#{add.id}" do %>
        <img src="https://source.unsplash.com/random/?urbex" class="l1ovpqvx bn2bl2p dir dir-ltr img-fluid">
        <div class="title-wrapper">
          <h2 class="title"><%= add.title %></h2>
          <span class="rating"><i class="fas fa-star"></i> Rating: <%= add.rating %></span>
        </div>
      <% end %>
      <p><strong><%= add.city %></strong></p>
      <p><strong><%= add.price %></strong> € per Day</p>
    </div>
  <% end %>
</div>
