<div class="cards">
  <% @adds.each do |add| %>
    <div class="card">
      <% random_image = @random_images.sample %>
      <%= cl_image_tag random_image["public_id"], alt: "Image", class: "carousel-image" %>
      <%= link_to add_path(add), rel: "noopener noreferrer nofollow", target: "listing_#{add.id}", aria_labelledby: "title_#{add.id}" do %>
        <div class="title-wrapper">
          <h2 class="title"><%= add.title %></h2>
          <span class="rating"><i class="fas fa-star"></i>  <%= add.rating %>  </span>
        </div>
      <% end %>
      <p><strong><%= add.city %></strong></p>
      <p><strong><%= add.price %></strong> € per Day</p>
    </div>
  <% end %>
</div>
