<div class="container">
<h1>Reservations</h1>

  <div data-controller="total-price">
  <div class="container">
    <% @reservations.each do |reservation| %>
      <div class="card flex-md-row mb-2 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <h2 > Name : <%= reservation.add.title %> </h2>
          <i> <strong>Dates</strong> : Du <%= reservation.check_in %> au <%= reservation.check_out %> </i>

          <% date_in = Date.parse(reservation.check_in.to_s)
             date_out = Date.parse(reservation.check_out.to_s)
             days = (date_out - date_in + 1) * reservation.add.price
             days.class
          %>


          <i> <strong>Price</strong> : <%= days.to_i %> € </i>
          <%= link_to "delete", reservation_path(reservation), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
  </div>
  </div>

</div>
